<%- include('../includes/head.ejs') -%>

<body>
    <%- include('../includes/nav.ejs') -%>
    <main class="container">
        <form action="/new-password" method="POST" class="input-group">
            <%if(message.length > 0){%>
            <div><%= invalidPass[0] %></div>
            <%}%>
                
                <label class="input-label" for="password">Password</label>
                <input type="password" class="input-field" id="password" name="password" placeholder="Enter your password...">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="userId" value="<%= userId %>">
            <button type="submit" class="submit-btn">
                Login
            </button>
        </form>
    </main>
</body>

</html>