<nav>
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link fs-4 <%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
          <a class="nav-link fs-4 <%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
          <% if(isLoggedIn){ %>
            <a class="nav-link fs-4 <%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            <a class="nav-link fs-4 <%= path === '/order' ? 'active' : '' %>" href="/order">Order</a>
            <a class="nav-link fs-4 <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add
              Product</a>
            <a class="nav-link fs-4 <%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin
              Products</a>
          <% } %>
          <% if(!isLoggedIn){ %>
            <a class="nav-link fs-4 <%= path === '/sign-up' ? 'active' : '' %>" href="/sign-up">SignUp</a>
          <% }else{ %>
            <form action="/logout" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button style="background: transparent;border: none;" class="nav-link fs-4" type="submit">Logout</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</nav>